<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906030192701-v176fdrs19f9fjmm2aqs5hkueq53jll4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906030192701-v176fdrs19f9fjmm2aqs5hkueq53jll4</string>
	<key>API_KEY</key>
	<string>AIzaSyBwioBxmjNFbOBt0nVxpbA1KB3lzr7r1zo</string>
	<key>GCM_SENDER_ID</key>
	<string>906030192701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devangs.fusion.stg</string>
	<key>PROJECT_ID</key>
	<string>fusion-staging-2b30a</string>
	<key>STORAGE_BUCKET</key>
	<string>fusion-staging-2b30a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906030192701:ios:24edb3b88def0b26c83254</string>
</dict>
</plist>